@import url('https://fonts.googleapis.com/css?family=Bree+Serif|Raleway');

body{
  text-align: center;
  background-color: #AFFFE5;
  background-size: contain;
  color: #FFFFFF;
}
p {
    font-size: 22px;
    font-family: 'Bree Serif', serif;
}
p#slogan {
	font-style: italic;
}
div {
	text-align: center;
}
ul {
	display: inline-block; text-align: left;
}
h4 {
	text-align: center;
  font-family: 'Raleway', sans-serif;
}
h2 {
    text-decoration: underline;
    font-family: 'Raleway', sans-serif;
}