@import url('https://fonts.googleapis.com/css?family=Bree+Serif|Raleway');

body{
  text-align: center;
  background-color: #7C93FF;
  background-size: contain;
  color: #000;
}

h2 {
    text-decoration: underline;
    font-family: 'Bree Serif', serif;
}

h4 {
  text-align: center;
  font-family: 'Bree Serif', serif;
}

p {
    font-size: 22px;
    font-family: 'Raleway', sans-serif;
}
p#slogan {
	font-style: italic;
}

div {
  text-align: center;
}

ul {
	display: inline-block; text-align: left;
}

footer {
  text-align: center;
}